<div class="video-background">
  <div class="video-foreground">
    {{ with .Params.youTubeVideoId }}
    <div id="muteYouTubeVideoPlayer"></div>
    <script async src="https://www.youtube.com/iframe_api"></script>
    <script>
     function onYouTubeIframeAPIReady() {
      var player;
      player = new YT.Player('muteYouTubeVideoPlayer', {
        videoId: '{{ .Params.youTubeVideoId }}', // YouTube Video ID
        playerVars: {
          autoplay: 1,        // Auto-play the video on load
          controls: 1,        // Show pause/play buttons in player
          showinfo: 0,        // Hide the video title
          modestbranding: 1,  // Hide the Youtube Logo
          loop: 1,            // Run the video in a loop
          playlist: '{{ .Params.youTubeVideoId }}',
          fs: 0,              // Hide the full screen button
          cc_load_policy: 0,  // Hide closed captions
          iv_load_policy: 3,  // Hide the Video Annotations
          autohide: 1         // Hide video controls when playing
        },
        events: {
          onReady: function(e) {
            e.target.mute();
          }
        }
      });
     }
     // Written by @labnol 
    </script>
   {{ end }}
  </div>
</div>
{{ with .Params.youTubeAudioId }}
  <iframe width=0 height=0 src="https://www.youtube.com/embed/{{ .Params.youTubeAudioId }}?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
(( end }}
